{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="register mb-5">
    {{ form_start(registrationForm) }}
    <div class="container mt-5">
        <div class="card py-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="text-center mb-5">Inscription</h1>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                {{ form_widget(registrationForm.firstname, { 'attr': {'class': 'form-control'} }) }}
                                <div class="text-danger">
                                    {{ form_errors(registrationForm.firstname) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                {{ form_widget(registrationForm.lastname, { 'attr': {'class': 'form-control'} }) }}
                                <div class="text-danger">
                                    {{ form_errors(registrationForm.lastname) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6">
                                {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control'} }) }}
                                <div class="text-danger">
                                    {{ form_errors(registrationForm.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            {# <div class="col-md-6">
                                {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                                <div class="text-danger">
                                    {{ form_errors(registrationForm.plainPassword) }}
                                </div>
                            </div> #}
                            <div class="col-md-6">
                                <div class="input-group show-hide-pwd" style="cursor: pointer;">
                                    {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                    <span class="input-group-text"><i class="far fa-eye" aria-hidden="true"></i></span>
                                </div>
                                <div class="small">
                                    Le mot de passe doit contenir obligatoirement un caractère en minuscule, un en majuscule, un chiffre et un caractère spécial (!@#$%^&*-)
                                </div>
                                <div class="text-danger">
                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group show-hide-pwd" style="cursor: pointer;">
                                    {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                    <span class="input-group-text"><i class="far fa-eye" aria-hidden="true"></i></span>
                                </div>
                                <div class="text-danger">
                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="form-check">
                                    {{ form_widget(registrationForm.agreeTerms) }}
                                    <div class="text-danger">
                                        {{ form_errors(registrationForm.agreeTerms) }}
                                    </div>
                                    <label class="form-check-label" for="registration_form_agreeTerms">
                                        J'ai lu et j'accepte les <a target="_blank" href="{{ path('page_cgu') }}">conditions générales d'utilisation.</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="text-center">
                                <button type="submit" class="btn-color-to-transparent secondary">Valider</button>
                            </div>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
