{{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="mb-3 col-md-6">
                    {{ form_label(form.title, null, { 'label_attr': {'class': 'form-label'} }) }}
                    {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                    <div class="text-danger">
                        {{ form_errors(form.title) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-12">
                    {{ form_label(form.file, null, { 'label_attr': {'class': 'form-label'} }) }}
                    {{ form_widget(form.file, { 'attr': {'class': 'form-control upload-img', 'data-preview-target': '#preview', 'data-cropped-target': '#cropped-file', 'data-cropper-width': '130', 'data-cropper-height': '200'} }) }}
                    <div class="text-danger">
                        {{ form_errors(form.file) }}
                    </div>
                </div>
                <input id="cropped-file" name="cropped-file" type="hidden">
                <div class="mb-3 col-md-12 d-flex flex-column">
                    {% if null == model.path %}
                        <img id="preview" alt="{{ model.title }}" src="https://via.placeholder.com/130x200" class="thumbnail img-responsive mt-2" width="130" height="200">
                    {% else %}
                        <img id="preview" alt="{{ model.title }}" src="{{ asset(model.path) }}" class="thumbnail img-responsive mt-2" width="130" height="200">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary mt-5 w-100">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let upload = new Upload();
        upload.uploadAndCropPreview({
            input: ".upload-img",
        });
    });
</script>