{% extends 'admin.html.twig' %}

{% block title %}Gestion des modèles de calendrier{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">{% trans %}Gestion  des modèles de calendrier{% endtrans %}</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Modèles de calendriers</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped auto-table">
                        <thead>
                            <tr>
                                <th>{% trans %}Titre{% endtrans %}</th>
                                <th>{% trans %}Créé par{% endtrans %}</th>
                                <th>{% trans %}Action{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for model in models %}
                                <tr>
                                    <td>{{ model.title }}</td>
                                    {% if model.user %}
                                        <td>{{ model.user.lastname ~ ' ' ~ model.user.firstname }}</td>
                                    {% endif %}
                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <a href="{{ path('model_calendar_edit', {'id': model.id}) }}" title="{% trans %}Voir{% endtrans %}" target="_blank" class="btn btn-warning"><i class="fa fa-edit"></i> </a>
                                            <form action="{{ path('model_calendar_delete', {'id': model.id}) }}" method="post" class="confirm ms-1" data-msg="{% trans %}Cela supprimera tous les calendriers liés à ce modèle définitivement. Supprimer le modèle ? {% endtrans %}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ model.id) }}">
                                                <button class="btn btn-danger" title="{% trans %}Supprimer{% endtrans %}"><i class="fa fa-trash"></i></button>
                                            </form>                                        
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <form action="{{ path('model_calendar_new') }}" method="post">
                        <button class="btn btn-primary w-100">{% trans %}Créer un nouveau modèle{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}