{% block modelBoxType_row %}
    {% if form.vars.value %}
        {% set boxName = form.vars.value.name %}
        {% set path = form.vars.value.path %}
    {% else %}
        {% set boxName = 'Nouvelle case' %}
    {% endif %}
    <div class="box-form-container"  {% if form.vars.value %}data-id="{{ form.vars.value.id }}"{% endif %}>
        <div class="row align-items-baseline">
            <div class="col-10">
                <div class="model-box-title">Case n°<span class="index"></span> - {{ boxName|u.truncate(20, '...') }}</div>
            </div>
            {% if form.vars.value %}
                <div class="col-2">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#previewModal" data-bs-id="{{ form.vars.value.id }}">
                        <i class="far fa-eye fa-lg" style="color: #ffffff;"></i>  
                    </a>
                </div>
            {% endif %}
        </div>
        
        <div class="row mt-2">
            {{ form_label(form.file) }}
            <div class="my-2 d-flex">
                {{ form_widget(form.file, {'attr': {'class': 'form-control', 'accept': 'video/*, audio/*, image/*'} }) }}
                {% if form.parent.parent.vars.name == "front_model_calendar" %} {# Si on est en front #}
                    <a href="#" class="btn btn-danger ms-1 action-button front_model_calendar_modelBoxes-collection-remove front_model_calendar_modelBoxes-collection-action">
                        <i class="fa fa-trash"></i>
                    </a>
                {% else %}
                    <a href="#" class="btn btn-danger ms-1 action-button model_calendar_boxes_modelBoxes-collection-remove model_calendar_boxes_modelBoxes-collection-action">
                        <i class="fa fa-trash"></i>
                    </a>
                {% endif %}
            </div>
            <div class="form-error">
                {{ form_errors(form.file) }}
            </div>
        </div>
        <div>
            {{ form_widget(form.position) }}
        </div>
        <div>
            {{ form_widget(form) }}
        </div>
        <hr/>
    </div>

{% endblock %}