{% block modelBoxType_row %}
    <div class="box-form-container"  {% if form.vars.value %}data-id="{{ form.vars.value.id }}"{% endif %}>
        <div class="row">
            <div>Case n° <span class="index"></span></div>
        </div>
        
        {% if form.vars.value %}
            <div class="row">
                {{ form.vars.value.name }}
            </div>
        {% endif %}
        <div class="row">
            {{ form_label(form.file) }}
            {{ form_widget(form.file, { 'attr': {'class': 'form-control', 'accept': 'video/*, audio/*, image/*'} }) }}
            <div class="form-error">
                {{ form_errors(form.file) }}
            </div>
        </div>
        <div>
            {{ form_widget(form.position) }}
        </div>
        <div>
            {{ form_widget(form) }}
        </div>
    </div>
{% endblock %}