{% extends 'base.html.twig' %}

{% block title %}Calenduret - Réinialisation de mot de passe{% endblock %}

{% block body %}
    <section>
        <div class="container my-5">
            <div class="card py-1 py-md-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card-body">
                            {{ form_start(resetForm) }}
                            <h1 class="text-center">Réinialisation de mot de passe</h1>
                            <div class="row mt-4">
                                <div class="col-md-12">
                                    {{ form_widget(resetForm.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="text-danger">
                                        {{ form_errors(resetForm.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    {{ form_widget(resetForm.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                    <div class="text-danger">
                                        {{ form_errors(resetForm.plainPassword.second) }}
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-3">
                                <button class="btn btn-primary">Réinitaliser le mot de passe</button>
                            </div>
                            {{ form_end(resetForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
