<nav class="navbar navbar-expand navbar-light navbar-bg">
    <a class="sidebar-toggle">
        <i class="hamburger align-self-center"></i>
    </a>

    <div id="admin_navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">

            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>

                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                    <span class="text-dark">{{ app.user.firstname }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <form action="{{ path('user_edit') }}" method="post">
                        <input type="hidden" name="edit_token" value="{{ csrf_token('edit_' ~ app.user.userIdentifier) }}">
                        <input type="hidden" name="identifier" value="{{ app.user.userIdentifier }}">
                        <button type="submit" class="dropdown-item">Mon profil</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </li>
        </ul>
    </div>
</nav>