{% extends 'admin.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">{% trans %}Gestion des utilisateurs{% endtrans %}</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Utilisateurs</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped auto-table">
                        <thead>
                            <tr>
                                <th>{% trans %}Nom{% endtrans %}</th>
                                <th>{% trans %}Prénom{% endtrans %}</th>
                                <th>{% trans %}Email{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <div class="d-flex justify-content-end">
                                            <form action="{{ path('user_edit') }}" method="post" class="ms-1">
                                                <input type="hidden" name="edit_token" value="{{ csrf_token('edit_' ~ user.userIdentifier) }}">
                                                <input type="hidden" name="identifier" value="{{ user.userIdentifier }}">
                                                <button class="btn btn-primary" title="{% trans %}Modifier{% endtrans %}"><i class="fa fa-pen"></i></button>
                                            </form>
                                            <form action="{{ path('user_delete') }}" method="post" class="confirm ms-1" data-msg="{% trans %}Supprimer l'utilisateur ?{% endtrans %}">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete_' ~ user.userIdentifier) }}">
                                                <input type="hidden" name="identifier" value="{{ user.userIdentifier }}">
                                                <button class="btn btn-danger" title="{% trans %}Supprimer{% endtrans %}"><i class="fa fa-trash"></i></button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <form action="{{ path('user_new') }}" method="post">
                        <input type="hidden" name="user_token" value="{{ csrf_token(user_type) }}">
                        <button class="btn btn-primary w-100">{% trans %}Créer un nouvel utilisateur{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}