<header>
	<nav class="navbar navbar-expand-lg {% if(transparentNavbar is defined and transparentNavbar == true) %} transparent {% endif %}">
		<div class="container-fluid mx-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarSupportedContent">
                <a class="navbar-brand custom-brand" href="{{ path('home') }}">Calendrier</a>
				
				<ul class="navbar-nav mb-2 mb-lg-0">
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<span class="text-dark">{{ app.user.firstname }}</span>
								</a>
								<ul class="dropdown-menu">
									<a class="dropdown-item" href="{{ path('home_admin') }}">Administration</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
								</ul>
							</li>
						{% else %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
									<span class="text-dark">{{ app.user.firstname }}</span>
								</a>
								<ul class="dropdown-menu">
									<a class="dropdown-item" href="#">
										<i class="align-middle me-1" data-feather="user"></i>Mon profil</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
								</ul>
							</li>
						{% endif %}
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
