<header>
	<nav class="navbar navbar-dark navbar-expand-lg {% if(isHome is defined and isHome == true) %} transparent {% endif %}">
		<div class="container-fluid mx-md-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand custom-brand logo logo-mobile d-md-none d-inline" href="{{ path('home') }}">Calenduret</a>

			<div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarSupportedContent">
                <a class="navbar-brand custom-brand logo d-none d-md-inline" href="{{ path('home') }}">Calenduret</a>
				
				<ul class="navbar-nav mb-2 mb-lg-0">
					{% if app.user %}
						<li class="nav-item me-3">
							<a class="nav-link {% if( app.request.requestUri == path('home_user') ) %} active {% endif %}" href="{{ path('home_user') }}"><i class="fa-solid fa-calendar-days me-2"></i>Mes calendriers</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket me-2"></i>Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">
								<i class="fa-solid fa-user me-2" style="color: #ffffff;"></i>
								Connexion
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
